# Ignore everything:
*.*
# Except this:
!.gitignore
!/mods/**
!/config/**
!/resourcepacks/**
!/scripts/**
!/structures/**
!README.*
!/ambience_music/**
!/resources/**
/config/InvTweaks.cfg
config/InvTweaks.cfg
config/splash.properties
config/InvTweaks.cfg
config/JEI/worldSettings.cfg
config/splash.properties
*.dat
*.dat
config/JEI/worldSettings.cfg
config/Weather2/EZGUIConfigClientData.dat
config/Weather2/EZGUIConfigServerData.dat
config/splash.properties
config/JEI/worldSettings.cfg
config/InvTweaks.cfg
mods/hats/**
scripts/recipes.zs
config/JEI/worldSettings.cfg
