# Ignore everything:
*.*
# Except this:
!.gitignore
!/mods/**
!/config/**
!/resourcepacks/**
!/scripts/**
!/structures/**
!README.*
!/ambience_music/**
!/resources/**
/config/InvTweaks.cfg
config/InvTweaks.cfg
config/splash.properties
