# Configuration file

"weather2: tornado" {
    # Makes weather boring! or peacefull?
    B:Storm_NoTornadosOrCyclones=false

    # Use a list of blocks instead of grabbing based on calculated strength of block, if true this overrides StrengthGrabbing and RefinedGrabRules
    B:Storm_Tornado_GrabCond_List=false
    B:Storm_Tornado_GrabCond_List_PartialMatches=false

    # Grab blocks based on how well a diamond axe can mine the block, so mostly wooden blocks
    B:Storm_Tornado_GrabCond_StrengthGrabbing=true

    # Enable GrabCond_List to use, add registered block names to list, use commas to separate values
    S:Storm_Tornado_GrabList=planks, leaves

    # Treat block grab list as a blacklist instead of whitelist
    B:Storm_Tornado_GrabListBlacklistMode=false

    # Prevents tearing up of dirt, grass, sand and logs, overrides all other conditions
    B:Storm_Tornado_RefinedGrabRules=true

    # Accuracy of tornado aimed at player
    I:Storm_Tornado_aimAtPlayerAngleVariance=5

    # Make tornados initial heading aimed towards closest player
    B:Storm_Tornado_aimAtPlayerOnSpawn=true

    # Grab animals, overridden by Storm_Tornado_grabPlayersOnly
    B:Storm_Tornado_grabAnimals=true

    # Tear up blocks from the ground based on conditions defined
    B:Storm_Tornado_grabBlocks=true

    # Grab hostile mobs, overridden by Storm_Tornado_grabPlayersOnly
    B:Storm_Tornado_grabMobs=true

    # Grab player or not
    B:Storm_Tornado_grabPlayer=true

    # Prevent grabbing of non players
    B:Storm_Tornado_grabPlayersOnly=false

    # Grab villagers, overridden by Storm_Tornado_grabPlayersOnly
    B:Storm_Tornado_grabVillagers=true
    I:Storm_Tornado_maxBlocksGrabbedPerTick=5
    I:Storm_Tornado_maxBlocksPerStorm=200
    I:Storm_Tornado_rarityOfBreakOnFall=5

    # How rarely a block will be removed while spinning around a tornado
    I:Storm_Tornado_rarityOfDisintegrate=15
}


