# Configuration file

general {

    ##########################################################################################################
    # world
    #--------------------------------------------------------------------------------------------------------#
    # World generation related configuration
    ##########################################################################################################

    world {
        # Min: 0
        # Max: 2147483647
        I:abilityFruitDungeonLootWeight=30
        B:addAbilityFruitsToDungeonLoot=true

        # Min: 0
        # Max: 2147483647
        I:chocoboPackSizeMax=3

        # Min: 0
        # Max: 2147483647
        I:chocoboPackSizeMin=1

        # Min: 0
        # Max: 2147483647
        I:chocoboSpawnWeight=10

        # Min: 0
        # Max: 2147483647
        I:gysahlGreenPatchSize=64

        # Min: 0.0
        # Max: 1.0
        D:gysahlGreenSpawnChance=0.1

        # Controls the weight compared to other world gen
        # Min: 0
        # Max: 2147483647
        I:gysahlGreenSpawnWeight=3
        I:retrogenId=1
    }

    chocobo {
        # Min: 0
        # Max: 2147483647
        I:defaultHealth=20

        # Min: 0
        # Max: 2147483647
        I:defaultSpeed=30

        # Min: 0
        # Max: 2147483647
        I:defaultStamina=10

        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:flyStaminaCost=0.05000000074505806

        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:glideStaminaCost=0.0

        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:jumpStaminaCost=0.0

        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:sprintStaminaCost=0.009999999776482582

        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:staminaRegenRate=0.02500000037252903

        # Min: 0.0
        # Max: 1.0
        D:tameChance=0.15
    }

    breeding {
        # Min: 0
        # Max: 2147483647
        I:eggHatchTimeTicks=24000

        # Min: 0
        # Max: 2147483647
        I:maxHealth=100

        # Min: 0
        # Max: 2147483647
        I:maxSpeed=120

        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:maxSpeedGrowth=0.06776999682188034

        # Min: 0
        # Max: 2147483647
        D:maxStamina=0.0
    }

}


